
@{
    ViewBag.Title = "Index";
}

<h2>Admin Index</h2>
<ul>
    <li>
        @Html.ActionLink("Vehicles", "Vehicles", "Admin")
    </li>
    <li>
        @Html.ActionLink("Makes", "Makes", "Admin")
    </li>
    <li>
        @Html.ActionLink("Models", "Models", "Admin")
    </li>
    <li>
        @Html.ActionLink("Reports", "Index", "Reports")
    </li>
    <li>
        @Html.ActionLink("User List", "Users", "Admin")
    </li>
</ul>






