@model GuildCars.UI.Models.SpecialVM

@{
    ViewBag.Title = "Specials";
}


<div class="container">
    <h2>Specials</h2>
    <hr />

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("AddSpecial", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Special.SpecialName, "Special Name", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Special.SpecialName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Special.SpecialName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Special.Description, "Description", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Special.Description, new { @class = "form-control col-md-10", style = "height: 150px" })
                        @Html.ValidationMessageFor(m => m.Special.Description)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SpecialImage, "Special Image", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.SpecialImage, new { type = "file", accept = "image/png, image/jpg, image/jpeg" })
                        @Html.ValidationMessageFor(m => m.SpecialImage)

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary btn-lg" value="Add Special" />
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />

    @if (Model.Specials.Any())
    {
        foreach (var special in Model.Specials.OrderByDescending(s => s.SpecialId))
        {
            var tm = "deleteSpecialModal" + special.SpecialId;

            <div class="card" style="padding:15px; border-color: deepskyblue">

                <div class="row">

                    <div class="col-sm-1">
                        <img src="~/Images/Specials/@special.ImageFileName" alt="@special.ImageFileName" style="max-height: 50px" />
                    </div>
                    <div class="col-sm-11">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 style="text-align: center">@special.SpecialName</h2>
                            </div>
                            <div class="col-sm-2">
                                @Html.ActionLink("Delete", "DeleteSpecial", "Admin", new { id = special.SpecialId }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure?')" })
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <p style="text-align:center">@special.Description</p>
                        </div>

                    </div>
                </div>
            </div>
            <br />
        }
    }
</div>



