<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ride Boiz</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
        <span class="navbar-brand mb-0 h1">
            <a href="@Url.Action("Index", "Home")" tit le="Ride Boiz" class="navbar-link">
                <img src="~/Images/Site/logo.jpg" id="navLogo" alt="nav logo" style="max-height:50px" />
            </a>
        </span>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("New Inventory", "New", "Inventory", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Used Inventory", "Used", "Inventory", null, new { @class = "nav-link" })</li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">@Html.ActionLink("Specials", "Specials", "Admin", null, new { @class = "nav-link" })</li>

                }
                else
                {
                    <li class="nav-item">@Html.ActionLink("Specials", "Specials", "Home", null, new { @class = "nav-link" })</li>

                }
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>

                @if (User.IsInRole("Sales"))
                {
                    <li class="nav-item">@Html.ActionLink("Sales", "Index", "Sales", null, new { @class = "nav-link" })</li>

                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">@Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "nav-link" })</li>
                }
            </ul>
            <div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Ride Boiz</p>
    </footer>


    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
